
td{
    text-align: center;
    padding: 8px;
    width: auto;
}
th{
    text-align: center;
    padding: 8px;
    height: 40px;
}
tr{
    color: #166fa3;
}
tr th{
    color:#1896df;
}
th, td {
    border-bottom: 1px solid #ddd;
  }
.other{
    color:#1896df;
    font-weight: 600;
    letter-spacing: 3px;
}
.collate td{
    border-bottom: 0px;
}
@media screen and (min-width:728px) {
    .table{
        overflow-x: hidden;
    }
    td{
        text-align: center;
        padding: 12px;
    }
}